html,body,li{
    margin: 0;
    padding: 0;
    list-style: none;
}
header{
    width: 100%;
    margin: 10px 0;
    text-align: center;
    line-height: 50px;
    border-bottom:  1px solid #DDDDDD;
}
.checkboxCon{
    box-sizing: border-box;
    padding: 15px;
    font-size: 15px;
    color: #4c4c4c;
}